.DS_Store
**/.DS_Store

.idea/
live_output/

__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/

build/
dist/
node_modules/
archive/serious_ui/dist/
archive/serious_ui/node_modules/
